<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description",content="查詢台北地區的旅遊景點")
		meta(property="og:title",content="台北旅遊景點")
		meta(property="og:description",content="查詢台北地區的旅遊景點")
		meta(property="og:type",content="website")
		meta(property="og:url",content="")
		meta(property="og:image",content="")
		title 台北旅遊景點
		link(rel="stylesheet", href="/css/all.css")
		script(src="/js/vendors.js")
		script(src="/js/firebase_app.js")
		script(src="/js/firebase_auth.js")
		script(src="/js/firebase_auth_init.js")
		script(src="/js/all.js")
	body
		block navbar
			include navbar.pug
		block carousel
		block content
		block form
		block footer
			include footer 
		block js
		